@use "../abstract/variables" as v;
@use "../abstract/mixins" as m;
@use "../abstract/extends";

#sobre-nosotros {
  padding: 40px 0;
  background-color: v.$white;

  .contenido-doble {
    display: flex;
    gap: 30px;
    align-items: center;

    img {
      max-width: 50%;
    }
  }
}

#modelos {
  padding: 40px 0;

  .lista-modelos {
    list-style: none;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;

    li {
      @extend %card;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

#contacto {
  padding: 40px 0;
  background-color: v.$yamaha-blue;
  color: v.$white;

  h2 {
    color: v.$white;
  }

  .campo-form {
    margin-bottom: 15px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: v.$radius;
    }
  }

  button {
    @include m.btn(v.$yamaha-red, v.$white);
  }
}
