.slider-box {
  width: 1300px;
  margin: 50px auto 0;
  overflow: hidden;

  ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 10s infinite ease-in-out;
  }

  li {
    list-style: none;
    width: 100%;
  }

  img {
    width: 100%;
    display: block;
  }
}

@keyframes slide {
  0%, 20%   { transform: translateX(0); }
  25%, 45%  { transform: translateX(-100%); }
  50%, 70%  { transform: translateX(-200%); }
  75%, 100% { transform: translateX(-300%); }
}
