@media (max-width: 768px) {
  header {
    .contenedor {
      flex-direction: column;
      text-align: center;
    }

    nav ul li {
      margin: 0 10px;
    }
  }

  #sobre-nosotros {
    .contenido-doble {
      flex-direction: column;

      img {
        max-width: 100%;
      }
    }
  }
}